.header{
    background: #264653;
    width: 100%; 
    height: 100%;
}


#navbarSupportedContent{
    margin-right: 100px;
   
}
.footer{
    background: #0B0D17;
    height: 250px;
}
.layout ul{
    color: rgb(239, 249, 249);
    text-decoration: none;
}